<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create A Basketball Team Signup</title>
 </head>
 <body>
    <form method="POST" action="/team">
  <label>name: <input type="text"></label><br>
  <label>Coach: <input type="text"></label><br>
  <label>Point Guard: <input type="text"></label><br>
  <label>Shooting Guard: <input type="text"></label><br>
  <label>Small Forward: <input type="text"></label><br>
  <label>Power Forward: <input type="text"></label><br>
  <label>Center: <input type="text"></label><br>
  <input type="submit" id="Submit" />
    </form>
 </body>
</html>


